<div [style.height]="config.size" [style.width]="config.size" class="lds-ring">
	<div [style.height]="config.size" [style.width]="config.size" [style.borderTopColor]="config.color"></div>
	<div [style.height]="config.size" [style.width]="config.size" [style.borderTopColor]="config.color"></div>
	<div [style.height]="config.size" [style.width]="config.size" [style.borderTopColor]="config.color"></div>
	<div [style.height]="config.size" [style.width]="config.size" [style.borderTopColor]="config.color"></div>
</div>