// =============================================================================
// paths
// =============================================================================
$p-img			: unquote("/assets/img/");

// =============================================================================
// colors
// =============================================================================
$primary		: #e46521;
$secondary	: #333;
$success		: #159a19;
$info				: #2398c8;
$warning		: #e46521;
$danger			: #b61a25;
$gray				: #ccc;
$text-muted	: #888;

// =============================================================================
// height-width
// =============================================================================
$h-header			: 4.2rem;
$h-footer			: 10rem;
$w-mainLogo		: 7.2rem;

// =============================================================================
// font-family
// =============================================================================
$f-normal			: sourcesans;
$f-heading		: colaborate;

// =============================================================================
// easing
// =============================================================================
$e-easeOutBack	: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$e-easeOutCubic	: cubic-bezier(0.215, 0.61, 0.355, 1);
