:host{
	&.block_window {
		align-items: center;
		justify-content: center;
		position: fixed;
		display: flex;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10002;
	}
	&.block_ui {
		align-items: center;
		justify-content: center;
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10001;
	}
	&.inplace {
		position: absolute;
		background: transparent !important;
		display: flex;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		align-items: center;
		justify-content: start;
	}
}