/* 
// Facebook like loading box
// with â¤ by @Pawan_Mall
// http://www.pawanmall.net 
*/
.FB-Loading-Card{
  display: block;
  padding: 12px;
}

/* FB Loading - First Box */
.FB-Loading-Card > div:nth-child(1){
  width:100%;
  height:30px;
}

/* FB Loading - Image Box */
.FB-Loading-Card > div > div:nth-child(1){
  position:relative;
  left:0;
  /* background-color: #CCC; */
  height: 40px;
  width: 40px;
  animation-name: shine; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2), 
/* FB Loading - Second Row */
.FB-Loading-Card > div > div:nth-child(3), 
/* FB Loading - Third Row */
.FB-Loading-Card > div:nth-child(2), 
/* FB Loading - Fourth Row */
.FB-Loading-Card > div:nth-child(3), 
/* FB Loading - Fifth Row */
.FB-Loading-Card > div:nth-child(4){
  position:relative;
  /* background-color: #CCC; */
  height: 6px;
  animation-name: shine; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes shine {
    from {transition:none;}
    to {background-color:#f6f7f8;transition: all 0.3s ease-out;}
}

/* FB Loading - First Row */
.FB-Loading-Card > div > div:nth-child(2){
  left:50px;
  top:-33px;
  width: 25%;
}

/* FB Loading - Second Row */
.FB-Loading-Card > div > div:nth-child(3){
  left:50px;
  top:-20px;
  width: 15%;
}

/* FB Loading - Third Row */
.FB-Loading-Card > div:nth-child(2){
  left:0px;
  top:30px;
  width: 80%;
}

/* FB Loading - Fourth Row */
.FB-Loading-Card > div:nth-child(3){
  left:0px;
  top:45px;
  width: 90%;
}

/* FB Loading - Fifth Row */
.FB-Loading-Card > div:nth-child(4){
  left:0px;
  top:60px;
  width: 50%;
}