<div class="block-1">
	<button (click)="sc1.show()"><ngx-spinner #sc1></ngx-spinner>Block control</button>
	<button (click)="sui1.show()">Block ui</button>
	<button (click)="showMask()">Block window</button>
	<ngx-spinner #sui1 [config]="{'placement': 'block-ui', 'animation': 4, size: '3rem', color: '#f00', secondaryColor: '#00f'}"></ngx-spinner>
</div>
<div class="block-2">
	<button (click)="sc2.show()"><ngx-spinner #sc2></ngx-spinner>Block control</button>
	<button (click)="sui2.show()">Block ui</button>
	<button (click)="showMask()">Block window</button>
	<ngx-spinner #sui2 [config]="{'placement': 'block-ui'}"></ngx-spinner>
</div>
<ngx-spinner [config]="{'placement': 'block-window'}" [visible]="blockWindow"></ngx-spinner>
<div class="block-3"><ngx-spinner [config]="{'placement': 'block-ui', 'animation': 1, size: '8rem', bgColor: 'none', color: '#ccc'}" visible="true"></ngx-spinner></div>